Source: lernstick-usertemplate-sync
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/imedias/lernstick-usertemplate-sync.git
Vcs-Git: https://github.com/imedias/lernstick-usertemplate-sync.git

Package: lernstick-usertemplate-sync
Architecture: all
Depends: ${misc:Depends}
Description: Synchronize usertemplate files to users home directory
 This package installs a dpkg trigger to synchronize all files from /etc/skel
 to the users home directory.
